<DocsDemo as |demo|>
  <demo.example @name="field-settings-overridden-1.hbs">
    <div data-test-id="field-settings-overridden">
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>
  </demo.example>
  <demo.snippet
    @name="field-settings-overridden.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="field-settings-overridden-1.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>