<DocsDemo as |demo|>
  <demo.example @name="power-select-multiple-example-1.hbs">
    <div data-test-id="power-select-multiple-selector-example-1">
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>
  </demo.example>
  <demo.snippet
    @name="power-select-multiple-example-1.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="power-select-multiple-example-1.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>