<DocsDemo as |demo|>
  <demo.example
    @name="radio-button-group-example-2.hbs"
    data-test-id="radio-button-group-example-2"
  >
    <ChangesetWebform
      @formSchema={{this.formSchema}}
      @onFieldValueChange={{this.onFieldValueChange}}
    />
    {{#if this.currentValue}}
      <div data-test-id="current-value">Selected colour:
        {{this.currentValue}}</div>
    {{/if}}
  </demo.example>
  <demo.snippet
    @name="radio-button-group-example-2.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="radio-button-group-example-2.hbs"
    @label="template"
    @language="htmlbars"
  />
  <demo.snippet
    @name="component-for-all-radio-options.hbs"
    @label="component-for-all-radio-options.hbs"
    @language="htmlbars"
  />
  <demo.snippet
    @name="component-for-single-radio-option.hbs"
    @label="component-for-single-radio-option.hbs"
    @language="htmlbars"
  />
</DocsDemo>