<DocsDemo as |demo|>
  <demo.example @name="single-checkbox-example-3.hbs">
    <div data-test-id="single-checkbox-component-label">
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>

  </demo.example>
  <demo.snippet
    @name="single-checkbox-example-3.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="single-checkbox-example-3.hbs"
    @label="template"
    @language="htmlbars"
  />
  <demo.snippet
    @name="component-for-single-checkbox-option.hbs"
    @label="custom label component hbs"
    @language="htmlbars"
  />
</DocsDemo>