<DocsDemo as |demo|>
  <demo.example @name="single-checkbox-example-2.hbs">
    <div data-test-id="single-checkbox-markdown-label">
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>

  </demo.example>
  <demo.snippet
    @name="single-checkbox-example-2.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="single-checkbox-example-2.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>