<DocsDemo as |demo|>
  <demo.example @name="static-content-example-1.hbs">
    <div data-test-id="static-content-basic-use">
      <ChangesetWebform @formSchema={{this.formSchema}} />
    </div>
  </demo.example>
  <demo.snippet
    @name="static-content-example-1.js"
    @label="component js"
    @language="javascript"
  />
  <demo.snippet
    @name="static-content-example-1.hbs"
    @label="template"
    @language="htmlbars"
  />
</DocsDemo>