@import 'ember-power-calendar';
.ember-power-calendar {
  @include ember-power-calendar($cell-size: 34px);
}

.power-datetime-picker {
  display: flex;
  align-items: center;
  & > .ember-basic-dropdown .ember-basic-dropdown-trigger {
    display: flex;
    flex-basis: 0;
    flex-shrink: 1;
    &:focus-within {
      // background: $input-focus-bg;
      // border-color: $input-focus-border-color;
      // color: $input-focus-color;
      // box-shadow: $input-focus-box-shadow;
    }

    // position: relative;
    input {
      // padding-left: 40px;
      background: transparent;
      border-width: 0;
      margin-left: 10px;
      &:focus {
        box-shadow: none;
        outline: 0;
        border-width: 0;
      }
    }
    // .icon {
    //   position: absolute;
    //   left: 10px;
    //   height: 20px;
    //   top: calc(50% - 10px);
    // }
  }

  .ember-power-calendar-nav-control {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    &:hover {
      background: #eee;
    }
  }
  input.date-select {
    border-width: 0;
    padding-right: 0;
    background: transparent;
  }
}

.cwf-time-selector {
  display: flex;
  .time-selector-field {
    min-width: 60px;
    input {
      width: 100%;
    }
    &.time-selector-field-milliseconds {
      min-width: 80px;
    }
  }
}

.clear-date-time-button {
  background: transparent;
  border-width: 0;
  @include cross-icon();
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  font-size: 0;
}

.calendar-icon {
  @include calendar-icon();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  width: 20px;
}
