.ember-pojo-form-field {
  margin-top: $pojo-form-field-controls-margin-top;
  margin-bottom: $pojo-form-field-margin-bottom;
  display: flex;
  flex-wrap: wrap;
  &.readonly input,
  &.disabled input {
    background-color: #e9e9e9;
    cursor: not-allowed;
  }

  .validates {
    input, .ember-power-select-trigger {
      padding-right: 36px;
    }
  }

  .validation-area {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: $pojo-form-field-icon-position;
  }


  &.required {
    .validation-area {
      background-image: $pojo-form-field-required-icon;
      background-size: $pojo-form-field-required-icon-size;
    }
  }

  &.valid:not(.hide-success-validation) {
    .validation-area {
      border-color: $pojo-form-field-valid-border-color;
      background-color: $pojo-form-field-valid-background-color;
      background-image: $pojo-form-field-valid-icon;
      background-size: $pojo-form-field-valid-icon-size;
    }
  }

  &.invalid {
    .validation-area {
      border-color: $pojo-form-field-invalid-border-color;
      background-color: $pojo-form-field-invalid-background-color;
      background-image: $pojo-form-field-invalid-icon;
      background-size: $pojo-form-field-invalid-icon-size;
    }
  }

  .ember-pojo-form-field-errors {
    width: 100%;
  }

  .ember-pojo-form-field-error {
    color: $pojo-form-field-error-text-color;
    margin-top: $pojo-form-field-error-margin-top;
  }

  &.power-select {
    max-width: 300px;
  }

  &.power-select div.field-container > svg {
    right: -24px;
  }

  .checkbox-group-container,
  .radio-button-group-container {
    position: relative;
    padding: $pojo-form-field-radio-checkbox-group-padding-y $pojo-form-field-radio-checkbox-group-padding-x;
    border: $pojo-form-field-radio-checkbox-group-border-width solid $pojo-form-field-radio-checkbox-group-border-color;
    background-color: $pojo-form-field-radio-checkbox-group-background-color;
    border-radius: $pojo-form-field-radio-checkbox-group-border-radius;
  }

  &.field-type-radio-button-group,
  &.field-type-checkbox-group {
    position: relative;
    .labelled-radio-button,
    .labelled-checkbox {
      margin: 0 0 5px 10px;
    }
  }

  &.field-type-static-content {
    margin-bottom: $pojo-form-field-margin-bottom;
  }

  .clone-actions {
    padding-top: $spacer-md;
    padding-right: $spacer-md;

    svg {
      height: 20px;
    }
  }

  .clone-group-actions {
    width: 100%;
    margin-top: 10px;
    
  }

  @media (max-width: 979px) {
    &.field-type-radio-button-group,
    &.field-type-checkbox-group {
      .labelled-radio-button,
      .labelled-checkbox {
        margin-bottom: 15px;
      }
    }
  }
}