$pojo-form-field-margin-bottom: $input-margin-bottom;

$pojo-form-field-required-icon-color: $app-colour-shade-two;

$pojo-form-field-valid-border-color: $input-valid-border-color;
$pojo-form-field-valid-background-color: $input-valid-background-color;
$pojo-form-field-valid-icon-fill: $input-valid-border-color;

$pojo-form-field-invalid-border-color: $input-invalid-border-color;
$pojo-form-field-invalid-background-color: $input-invalid-background-color;
$pojo-form-field-invalid-icon-fill: $input-invalid-border-color;

$pojo-form-field-error-text-color: $pojo-form-field-invalid-border-color;
$pojo-form-field-error-text-icon-fill: $pojo-form-field-error-text-color;

$pojo-form-field-radio-checkbox-group-border-color: $input-border-color;
$pojo-form-field-radio-checkbox-group-border-width: $input-border-width;
$pojo-form-field-radio-checkbox-group-background-color: #fff;

$pojo-form-field-radio-checkbox-group-border-radius: 3px;
$pojo-form-field-radio-checkbox-group-padding-y: 8px;
$pojo-form-field-radio-checkbox-group-padding-x: 5px;

 $pojo-form-field-legend-margin-bottom: 15px;