@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

$default-svg-stroke-width: 1px !default;
$default-svg-stroke-color: #ccc !default;

$pojo-form-field-default-icon-fill: #ccc;

// Icons
$pojo-form-field-validation-icon-width: 20px;
$pojo-form-field-icon-position: right center;

@mixin calendar-icon($fill: $pojo-form-field-default-icon-fill) {
  background-image: str-replace(
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 218.8 250' fill='#{$fill}' %3E%3Cpath d='M218.8 226.6A23.3 23.3 0 0 1 195.3 250H23.4a22.6 22.6 0 0 1-16.6-6.8A22.6 22.6 0 0 1 0 226.6V54.7a22.6 22.6 0 0 1 6.8-16.6 22.6 22.6 0 0 1 16.6-6.8H46.9V5.9a5.7 5.7 0 0 1 1.7-4.1A5.7 5.7 0 0 1 52.7 0H72.3a5.7 5.7 0 0 1 4.2 1.7 5.7 5.7 0 0 1 1.7 4.2V31.3h62.5V5.9a5.7 5.7 0 0 1 1.7-4.1A5.7 5.7 0 0 1 146.5 0H166a5.7 5.7 0 0 1 4.2 1.7 5.7 5.7 0 0 1 1.7 4.2V31.3h23.4a23.3 23.3 0 0 1 23.4 23.4ZM195.3 78.1H23.4V223.6a2.8 2.8 0 0 0 1 2 2.8 2.8 0 0 0 2 1h166a3.5 3.5 0 0 0 2.9-2.9ZM52.7 140.6a5.8 5.8 0 0 1-5.9-5.9V115.2a5.8 5.8 0 0 1 5.9-5.9H72.3a5.8 5.8 0 0 1 5.9 5.9v19.5a5.8 5.8 0 0 1-5.9 5.9Zm25.4 21.5a5.8 5.8 0 0 0-5.9-5.9H52.7a5.8 5.8 0 0 0-5.9 5.9v19.5a5.8 5.8 0 0 0 5.9 5.9H72.3a5.8 5.8 0 0 0 5.9-5.9ZM125 115.2a5.8 5.8 0 0 0-5.9-5.9H99.6a5.8 5.8 0 0 0-5.9 5.9v19.5a5.8 5.8 0 0 0 5.9 5.9h19.5a5.8 5.8 0 0 0 5.9-5.9Zm0 46.9a5.8 5.8 0 0 0-5.9-5.9H99.6a5.8 5.8 0 0 0-5.9 5.9v19.5a5.8 5.8 0 0 0 5.9 5.9h19.5a5.8 5.8 0 0 0 5.9-5.9Zm46.9-46.9a5.8 5.8 0 0 0-5.9-5.9H146.5a5.8 5.8 0 0 0-5.9 5.9v19.5a5.8 5.8 0 0 0 5.9 5.9H166a5.8 5.8 0 0 0 5.9-5.9Zm0 46.9a5.8 5.8 0 0 0-5.9-5.9H146.5a5.8 5.8 0 0 0-5.9 5.9v19.5a5.8 5.8 0 0 0 5.9 5.9H166a5.8 5.8 0 0 0 5.9-5.9Z'/%3E%3C/svg%3E"),
    '#',
    '%23'
  );
}

@mixin cross-icon(
  $stroke-width: $default-svg-stroke-width,
  $stroke-color: $default-svg-stroke-color
) {
  background-image: str-replace(
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' fill='none' stroke='#{$stroke-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='#{$stroke-width}'%3E%3Cline x1='2' y1='2' x2='8' y2='8' vector-effect='non-scaling-stroke' /%3E%3Cline x1='2' y1='8' x2='8' y2='2' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E"),
    '#',
    '%23'
  );
}
