@import '_variables';

.ember-power-select-trigger-multiple-input {
  border-color: transparent !important;
}

@import '_validating-form';
@import '_validating-form-field';
@import '_clone-group';
@import '_power-datetime-picker';
@import '_power-select';

// Tests to add

// defaultValue works for all fields, especially single checkbox.
// hide`success`validation works as a form setting.
// Swtiching back and forth between radio button settings with hidden attr
// Only allowed fields are included in save actions
// Hidden fields are not validated

// TODO

// Slip validation on hidden fields and don't include them in changeset when saving.
// Docs and tests for adding fields and settings separately
// Docs for form that needs asynchronously loaded data
// Can you use pushObject if disablePrototype extensions is installed?

// includeLabelOnSubmit must now update the changeset, which could cause validation and display issues, as a string becomes an object. Need to test on a field which does not reset after submit, and has validation as well as includeLabelOnSubmit.
// FIX
// All fields must have option of preper
// Docs - excludekeys wins over Include Keys for keyup args.
