<EmberChangesetWebforms::FieldElements::FieldLabel 
  @formField={{formField}} />
  <div role="button" class={{formField.clickerElementClass}} {{action onClick formField}} data-test-class="cwf-clicker-element">
    {{or (component formField.displayComponent.path changesetProp=changesetProp displayComponentProps=formField.displayComponent.props) formField.clickerText}}
  </div>