<b>Native JS date format:</b>
<span
  class="raw-date-time"
  data-test-id="raw-date-time"
>{{@data.nativeJSFormat}}</span>
<br /><b>Value of the field:</b>
<span
  class="output-field-value"
  data-test-id="output-field-value"
>{{@data.fieldValue}}</span>