$body-content-text-font-size: 1em;
$spacer-md: 16px;

// @import "./bootstrap/bootstrap";

.ember-application {
    font-family: Arial;
    font-size: 62.5%;
    position: relative;
  
  div.wrapper {
    font-size: 1.4em;
    input, textarea, select, button {
      font-size: 1em;
    }
  }
  
  input:not([type=radio]):not([type=checkbox]), textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
  }
  
  textarea {
    min-height: 100px;
  }
  
  button {
    height: 40px;
    background: #999;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
  }
  
  table {
    border-collapse: collapse;
    td, th {
      padding: 10px;
      border: 1px solid #ccc;
    }
   
  }
  
  .form-submit-button {
    display: flex;
    align-items: center;
  }
  
  .form-submit-button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: 10px
  }
  svg {
    display: none;
  }
  @import "ember-pojo-form";

  // Custom pojo form styles

  // div.field-controls+div.field-error {
  //   margin-top: -1*$pojo-form-field-margin-bottom;
  // }

  // .ember-pojo-form-field-error {
  //   min-height: $pojo-form-field-margin-bottom;
  //   font-weight: 700;
  //   margin-left: 10px;
  // }
}

