body {
  position: relative;
}
$spacer-md: 16px;

:root {
  --brand-primary: #806ca5;
}

.docs-rounded {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.docs-border-grey-lighter {
  border-color: #666;
}

.hljs-tag {
  color: #abb2bf;
}

.hljs-function .hljs-title {
  color: #e6c07b;
}

.formatted-list {
  padding-left: 1.5em;
  ul {
    padding-left: 1.5em;
    list-style: inherit;
  }
  li {
    list-style: disc;
  }
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-align-center {
  align-items: center;
}

.monospaced {
  font-family: 'Courier New', Courier, monospace;
}

.text-grey {
  color: #777;
}

.element-classlist {
  background: rgb(54, 158, 54);
  color: #fff;
}

.cwf-field {
  margin-bottom: 30px;
}

@import 'bootstrap-5/functions';
@import 'bootstrap-5/variables';
@import 'bootstrap-5/mixins';
@import 'bootstrap-5/utilities';
@import '_variables';
@import 'ember-power-select';

.ember-power-select-trigger-multiple-input {
  border-color: transparent !important;
}

.docs-rounded {
  .docs-p-4 * {
    @import 'bootstrap-5/bootstrap';
    @import '_power-datetime-picker';
    .clone-group {
      .form-field-clone {
        display: flex;
        .ember-changeset-webforms-field {
          flex-grow: 1;
        }
      }
      .clone-actions {
        padding-top: $spacer-md;
        padding-right: $spacer-md;
        svg {
          height: 20px;
        }
      }
      .clone-group-actions {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
