{{! BEGIN-SNIPPET component-for-all-checkbox-options.hbs }}
<label for={{@for}} id={{@labelId}}><b>
    <a
      href="{{@props.infoLink}}"
      target="_blank"
      rel="noopener noreferrer"
    >{{@option.label}}</a>
  </b>This is a custom label component applied all of the checkbox options
</label>
{{! END-SNIPPET}}