<label for="{{@radioId}}">This is a custom component used for all the label of
  all the options
  <div style="padding-left: 30px">
    <div>
      option.label =
      {{@option.label}}</div>
    <div>
      props.infoLink =
      <a
        href="{{@props.infoLink}}"
        target="_blank"
        rel="noopener noreferrer"
      >{{@props.infoLink}}</a>
    </div>
  </div>
</label>