<div class="checkbox-group-container field-controls validation-area">
  {{form-field-legend formField=formField}}
  {{component inputIcon class="form-field-icon"}}
  {{#each formField.options as |option|}}
    {{labelled-checkbox
      value=(readonly option.value)
      label=option.label
      changedAction=(action "checkboxToggled" option.key)
      name=formField.name
    }}
  {{/each}}
</div>
{{form-field-error formField=formField}}