<div class="radio-button-group-container field-controls validation-area">
  {{extensible/form-field-legend formField=formField}}
  {{component inputIcon class="form-field-icon"}}
  {{#each formField.options as |option|}}
    {{custom-elements/labelled-radio-button
      data-test-id=(concat "radio-button-option-" option.value)
      value=option.value
      groupValue=groupValue
      required=false
      name=name
      disabled=disabled
      label=option.label
      changedAction=(action onUserInteraction groupValue)
    }}
  {{/each}}
</div>
{{extensible/form-field-error formField=formField}}