<div class="field-controls">
  {{custom-elements/labelled-checkbox
    value=(readonly formField.value)
    label=formField.label
    labelComponent=formField.labelComponent
    changedAction=(action onUserInteraction)
    name=formField.name
  }}
  {{component inputIcon class="form-field-icon"}}
</div>
{{extensible/form-field-error formField=formField}}