<div class="inline-flex flex-align-center">
  <label for="{{radioId}}">This is a custom component for the label of one specific option&nbsp;&nbsp;</label>
  <BasicDropdown as |Dropdown|>
    <Dropdown.Trigger>
      <button class="btn-primary btn-sm">More info</button>
    </Dropdown.Trigger>
    <Dropdown.Content class="box-arrow">
      option.label = {{option.label}}<br>
      option.key = {{option.key}}<br>
      props.info = {{props.info}}
    </Dropdown.Content>
  </BasicDropdown>
</div>