<div class="inline-flex flex-align-center">
  <label for="{{radioId}}">This is a custom component for the label of one specific option&nbsp;&nbsp;</label>
  <BasicDropdown as |Dropdown|>
    <Dropdown.Trigger>
      <button class="btn-primary btn-sm">More info</button>
    </Dropdown.Trigger>
    <Dropdown.Content class="box-arrow">
      {{#if option.label}}
        option.label = {{option.label}}<br>
      {{/if}}
      {{#if option.key}}
        option.key = {{option.key}}<br>
      {{/if}}
      {{#if props.info}}
        props.info = {{props.info}}
      {{/if}}
    </Dropdown.Content>
  </BasicDropdown>
</div>