<label for="{{radioId}}">This is a custom component used for all the label of all the options
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;option.label = {{option.label}}
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;props.infoLink = <a href="{{props.infoLink}}" target="_blank">{{props.infoLink}}</a>
</label>