{{#if (and (eq @formField.validationStatus "invalid") @validationErrorsArray)}}
  <div
    id="{{@formField.id}}-errors"
    class="{{ember-changeset-webforms/dynamic-class-names
        'validationErrors'
        @changesetWebform
        @formField
        @formField.validationStatus
      }}"
    data-test-class="cwf-field-errors"
  >
    {{#each @validationErrorsArray as |error|}}
      <div
        class="ember-changeset-webforms-field-error"
        data-test-class="cwf-field-error"
      >{{error}}</div>
    {{/each}}
  </div>
{{/if}}