{{ember-pojo-form/form-field-label formField=formField}}
<div class="field-controls">
  {{input
    class="validation-area"
    
    value=(get changeset formField.fieldId)
    focusOut=(action onFocusOut value="target.value")
    focusIn=(action onFocusIn value="target.value")
    placeholder=formField.placeholder
    autofocus=formField.autofocus
    type=formField.inputType
    readonly=formField.readonly
    disabled=formField.disabled
    name=formField.name
  }}
</div>
{{ember-pojo-form/form-field-error formField=formField}}
{{log changeset}}
 {{!-- value=(readonly formField.value) --}}