  <div class="radio-button-group-container field-controls validation-area">
    {{#each formField.options as |option|}}
      {{ember-pojo-form/labelled-radio-button
        dataTestId=(concat "radio-option-" formField.fieldId "-" option.value)
        value=option.value
        groupValue=displayValue
        required=false
        name=(or formField.name formField.fieldId)
        disabled=(if formField.disabled true option.disabled)
        label=option.label
        changedAction=(action onUserInteraction formField groupValue)
      }}
    {{/each}}
  </div>