<div class="field-controls">
  {{background/labelled-checkbox
    dataTestId=(concat "checkbox-option-" formField.fieldId "-" option.value)
    value=(readonly formField.value)
    label=formField.fieldLabel
    labelComponent=formField.labelComponent
    changedAction=(action onUserInteraction)
    name=formField.name
    disabled=formField.disabled
  }}
</div>
{{ember-pojo-form/form-field-error formField=formField}}