{{ember-pojo-form/form-field-legend formField=formField}}
<div class="checkbox-group-container field-controls validation-area">
  {{component inputIcon class="form-field-icon"}}
  {{#each formField.options as |option|}}
    {{ember-extended-elements/labelled-checkbox
      value=(readonly option.value)
      label=option.label
      changedAction=(action "checkboxToggled" option.key)
      name=formField.name
      disabled=(if formField.disabled true option.disabled)
    }}
  {{/each}}
</div>
{{ember-pojo-form/form-field-error formField=formField}}