{{ember-pojo-form/form-field-label formField=formField}}
<div class="field-controls">
  <div data-test-type="form-field-power-select">
    {{#power-select
      triggerClass="validation-area"
      options=formField.options
      selected=(readonly formField.value)
      searchPlaceholder=formField.searchPlaceholder
      allowClear=allowClear
      placeholder=formField.placeholder
      onchange=(action onUserInteraction)
      onclose=onclose
      triggerId=formField.name
      as |option|
      }}
      {{option}}
    {{/power-select}}
  </div>
  {{component inputIcon class="form-field-icon"}}
</div>
{{ember-pojo-form/form-field-error formField=formField}}