<div class="field-controls">
  {{ember-extended-elements/labelled-checkbox
    dataTestId=(concat "checkbox-option-" formField.fieldId "-" option.value)
    value=(readonly formField.value)
    label=formField.label
    labelComponent=formField.labelComponent
    changedAction=(action onUserInteraction)
    name=formField.name
    disabled=formField.disabled
  }}
  {{component inputIcon class="form-field-icon"}}
</div>
{{ember-pojo-form/form-field-error formField=formField}}