{{ember-pojo-form/form-field-label formField=formField}}
<div class="field-controls">
  {{textarea
    class="validation-area"
    value=(readonly formField.value)
    focusOut=(action onFocusOut value="target.value")
    focusIn=(action onFocusIn value="target.value")
    keyUp=(action onKeyUp value="target.value")
    placeholder=formField.placeholder
    autofocus=formField.autofocus
    readonly=formField.readonly
    disabled=formField.disabled
  }}
  {{component inputIcon class="form-field-icon"}}
</div>
{{ember-pojo-form/form-field-error formField=formField}}