{{ember-pojo-form/form-field-legend formField=formField}}
<div class="radio-button-group-container field-controls validation-area">
  {{component inputIcon class="form-field-icon"}}
  {{#each formField.options as |option|}}
    {{ember-extended-elements/labelled-radio-button
      dataTestId=(concat "radio-option-" formField.fieldId "-" option.value)
      value=option.value
      groupValue=groupValue
      required=false
      name=(or name option.value)
      disabled=(if formField.disabled true option.disabled)
      label=option.label
      changedAction=(action onUserInteraction groupValue)
    }}
  {{/each}}
</div>
{{ember-pojo-form/form-field-error formField=formField}}