{{groupValue}}
{{#each masterFormField.clonedFields as |clonedFormField index| }}
  {{ember-pojo-form/validating-form-field-clone
    onFocusOut=(action onFocusOut)
    onFocusIn=(action onFocusIn)
    onKeyUp=(action onKeyUp)
    onUserInteraction=(action onUserInteraction)
    validateProperty=(action validateProperty)
    cloneField=(action "cloneField")
    removeClone=(action "removeClone")
    changeset=changeset
    index=index
    groupValue=groupValue
    clonedFormField=clonedFormField
    masterFormField=masterFormField
    processedFieldSchema=clonedFormField
    masterfieldDisplayValidation=masterfieldDisplayValidation
  }}
{{/each}}
<div class="clone-group-actions">
  {{#if (eq masterFormField.cloneCountStatus "max")}}
      Max clones reached.
  {{else}}
    {{component settings.addCloneButtonComponent cloneField=(action "cloneField") masterFormField=masterFormField}}
  {{/if}}
</div>